//
// Helper classes
// --------------------------------------------------

.clearfix {
  @include clearfix;
}

.no-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

// Toggling content
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.hidden {
  overflow: hidden !important;
}

.center-align {
  text-align: center;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
