// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
@function em($pxval, $base: $fzBase) {
  @return ($pxval / $base) * 1em;
}

// Font sizing using rems with a fallback to px in unsupported
// Font-size of 62.5% must be set on body
@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}

@mixin fp($property, $min, $max, $start: 320, $end: 1920, $clip: true, $clipAtStart: true, $clipAtEnd: true) {
  $multiplier: ($max - $min) / ($end - $start) * 100;
  $adder: ($min * $end - $max * $start) / ($end - $start);
  $adder: ($adder/10)+rem;
  $formula: calc(#{$multiplier + 0vw} + #{$adder});
  @if $clip and $clipAtStart {
    @media (max-width: ($start/16)+em) {
      #{$property}: ($min/10)+rem;
    }
  }
  @if $clip and $clipAtEnd {
    @media (min-width: ($end/16)+em) {
      #{$property}: ($max/10)+rem;
    }
  }
  #{$property}: $formula;
}

@mixin arrow($fontSize: $fzBase,$color: white) {
  position: relative;
  width: em(30, $fontSize);
  height: em(2, $fontSize);
  background-color: $color;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: em(15, $fontSize);
    height: em(2, $fontSize);
    background-color: $color;
    transform-origin: right;
  }

  &:before {
    transform: translate(0, -50%)rotate(45deg);
  }

  &:after {
    transform: translate(0, -50%)rotate(-45deg);
  }
}

@mixin linearLink($color: white) {
  position: relative;
  padding: 0 em(10);
  margin-left: em(-10);
  overflow: hidden;
  display: inline-block;
  color: $color;
  cursor: pointer;
  line-height: 1.05;
  text-decoration: none;

  &:before {
    content: '';
    margin-left: em(-10);
    width: 120%;
    height: em(12);
    background: $color;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    transform: translateX(-120%);
    will-change: transform;
    transition: transform 0.2s ease-in;
  }

  &:hover {
    color: $color;
  }

  &:hover:before {
    transform: translateX(-10%);
    transition: transform 0.5s ease-in;
  }

  &.active:before {
    transform: translateX(0%);
  }
}

@mixin linearBorder($color) {
  $fontSize: 14;
  display: flex;
  align-items: center;
  font-size: em($fontSize);
  color: $color;
  @include ffSecondary();
  outline: none;
  text-transform: uppercase;
  background: none;
  border: 0;
  padding: em(10, $fontSize) em(15, $fontSize);
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px transparent;
  vertical-align: middle;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    height: 100%;
  }

  &:hover:before {
    border-top-color: $color;
    border-right-color: $color;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  &:hover:after {
    border-bottom-color: $color;
    border-left-color: $color;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }

  &.active {
    box-shadow: inset 0 0 0 2px $color;
  }

  &.filtered {
    background-color: $color;
    border-color: transparent;
    color: white;
  }
}

@mixin filterLine($color,$fontSize) {
  opacity: 0;
  background: $color;
  position: absolute;
  width: em(2, $fontSize);
  height: em(34, $fontSize);
  top: em(20, $fontSize);
  transform: translateY(em(14, $fontSize)) translateX(-50%);
  left: 50%;
  @include transition (opacity 0.2s ease-in);
}

@mixin searchInput($color) {
  border: 0;
  color: $color;
  padding-left: em(5);
  background: none;
  display: inline-block;
  width: 90%;
  vertical-align: top;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color1;
  }
}

@mixin searchIcon($color, $scale) {
  position: absolute;
  border: em(2 * $scale/1.2) solid $color;
  border-radius: 50%;
  width: em(12 * $scale);
  height: em(12 * $scale);
  top: 0;
  right: 0;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    background-color: $color;
    transform: rotate(45deg);
    height: em(8 * $scale);
    width: em(2 * $scale/1.2);
    right: em(10 * $scale * 1.2);
    top: em(8 * $scale * 1.2);
  }
}

@mixin ffSecondary() {
  font-family: $ffSecondary;
  font-weight: 800;
  letter-spacing: 1.2;
}
