%button {
  background-color: transparent;
  display: inline-block;
  margin-bottom: 0;
  @include ffSecondary();
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  @include user-select(none);
  text-decoration: none !important;

  &:focus {
    outline: 1px dotted $colorActive;
  }
}

%innerWrapper {
  padding: 0 em(15);
  max-width: em($contentWidth);
  margin: 0 auto;
  position: relative;
  @include clearfix;
}

%whitespace{
  word-break: break-word;
  white-space: pre-wrap;
}

%btn-link{
  border: none;
  background-color: transparent;
  padding: 0;
  color: $colorText;
  line-height: $lhBase/$fzBase;
  @include ffSecondary();

  &:focus{
    outline: none;
  }
}

%shadow{
  box-shadow: 0 em(15) em(28.5) em(1.5) rgba($colorPrimary,0.15);
}