/**
 * selectize.css (v0.12.4)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

 .selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
	visibility: visible !important;
	background: rgba(255,255,255,0.2) !important;
	background: rgba(0, 0, 0, 0.06) !important;
	border: 0 none !important;
	-webkit-box-shadow: inset 0 0 12px 4px #ffffff;
	box-shadow: inset 0 0 12px 4px #ffffff;
	}
	
  .selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
	content: '!';
	visibility: hidden;
  }
  .selectize-control.plugin-drag_drop .ui-sortable-helper {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
	
  .selectize-dropdown-header {
	position: relative;
	padding: 5px 8px;
	border-bottom: 1px solid #d0d0d0;
	background: #f8f8f8;
  }
  .selectize-dropdown-header-close {
	position: absolute;
	right: 8px;
	top: 50%;
	color: #303030;
	opacity: 0.4;
	margin-top: -12px;
	line-height: 20px;
	font-size: 20px !important;
  }
  .selectize-dropdown-header-close:hover {
	color: #000000;
  }
  .selectize-dropdown.plugin-optgroup_columns .optgroup {
	border-right: 1px solid #f2f2f2;
	border-top: 0 none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  .selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
	border-right: 0 none;
  }
  .selectize-dropdown.plugin-optgroup_columns .optgroup:before {
	display: none;
  }
  .selectize-dropdown.plugin-optgroup_columns .optgroup-header {
	border-top: 0 none;
  }
  .selectize-control.plugin-remove_button [data-value] {
	position: relative;
	padding-right: 24px !important;
  }
  .selectize-control.plugin-remove_button [data-value] .remove {
	z-index: 1;
	/* fixes ie bug (see #392) */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 17px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: inherit;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	padding: 2px 0 0 0;
	border-left: 1px solid #d0d0d0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  .selectize-control {
	position: relative;
  }
  .selectize-dropdown,
  .selectize-input,
  .selectize-input input {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
  }
  .selectize-input,
  .selectize-control.single .selectize-input.input-active {
	background: rgba(255,255,255,0.2);
	cursor: text;
	display: inline-block;
  }
  .selectize-input {
	min-height: em(60);
	padding: em(16) 0 0 em(10);
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	border-bottom: em(2) solid transparent;
	transition: border-bottom 0.2s ease-in-out;
  }
  .selectize-control.multi .selectize-input.has-items {
	padding: em(16) em(10) em(10) em(10);
  }
  .selectize-input.disabled,
  .selectize-input.disabled * {
	cursor: default !important;
  }
  .selectize-input.focus {
	border-bottom: em(2) solid white;
	transition: border-bottom 0.2s ease-in-out;
  }
  .selectize-input > * {
	vertical-align: baseline;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
  }
  .selectize-control.multi .selectize-input > div {
	cursor: pointer;
	margin: 0 3px 3px 0;
	padding: 2px 6px;
	border: 1px solid white;
	color: white;
  }
  .selectize-input > input {
	display: inline-block !important;
	padding: 0 !important;
	min-height: 0 !important;
	max-height: none !important;
	max-width: 100% !important;
	margin: 0 2px 0 0 !important;
	text-indent: 0 !important;
	border: 0 none !important;
	background: none !important;
	line-height: inherit !important;
	user-select: auto;
	-webkit-user-select: auto !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
  }
  .selectize-input > input::-ms-clear {
	display: none;
  }
  .selectize-input > input:focus {
	outline: none !important;
  }
  .selectize-input::after {
	content: ' ';
	display: block;
	clear: left;
  }
  .selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: #ffffff;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
  }
  .selectize-dropdown {
	position: absolute;
	z-index: 10;
	background: rgba(white,0.95);
	margin: 0;
	border: em(2) solid white;
	border-top: 0 none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
  }
  .selectize-dropdown [data-selectable] {
	cursor: pointer;
	overflow: hidden;
  }
  .selectize-dropdown [data-selectable],
  .selectize-dropdown .optgroup-header {
	padding: em(10);
  }
  .selectize-dropdown .active {
	background-color: $color3;
	color: white;
  }
  .selectize-dropdown .active.create {
	color: $color1;
  }
  .selectize-dropdown .create {
	color: rgba(48, 48, 48, 0.5);
  }
  .selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
	-webkit-overflow-scrolling: touch;
	color: $color1;
  }
  .selectize-control.single .selectize-input,
  .selectize-control.single .selectize-input input {
	cursor: pointer;
  }
  .selectize-control.single .selectize-input.input-active,
  .selectize-control.single .selectize-input.input-active input {
	cursor: text;
  }
  .selectize-control.single .selectize-input:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: white transparent transparent transparent;
  }
  .selectize-control.single .selectize-input.dropdown-active:after {
	margin-top: -4px;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent white transparent;
  }