/* Reset `button` and button-style `input` default styles */
button {
  background: none;
  border: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: inherit;
  color: inherit;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

$module: 'btn';

.#{$module} {
  &--primary {
    @extend %button;
    $fontSize: 14;
    font-size: em($fontSize);
    letter-spacing: 1.2;
    position: relative;
    min-width: em(230, $fontSize);
    border: em(2, $fontSize) solid white;
    color: white;
    text-transform: uppercase;
    padding: em(24, $fontSize) 0;
    margin: 0 0 em(10, $fontSize);
    background-color: transparent;
    will-change: background-color;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: white;
      will-change: background-color;
      color: $colorPrimary;
      transition: background-color 0.5s, color 0.5s;
    }
  }

  &--form {
    $fz: 14;
    @extend .#{$module}--primary;
    display: inline-block;
    width: auto;
    height: em(66, $fz);
    padding: 0;

    @include bp(mob-xl) {
      display: block;
      text-align: center;
    }

    &.submitting {
      background-color: white;
      color: white;

      &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: em(20, $fz);
        height: em(20, $fz);
        margin-top: em(-10, $fz);
        margin-left: em(-10, $fz);
        border-radius: 50%;
        border-top: em(2, $fz) solid $color1;
        border-right: em(2, $fz) solid transparent;
        animation: spinner 0.6s linear infinite;
      }
    }
  }

  // Btn extras
  // ---------------
  &__arrow {
    @include arrow(14);

    position: absolute;
    left: em(20);
    top: 50%;
    transform: translateX(em(0));
    transition: transform 0.2s ease-in;
    will-change: transform;

    .btn--primary:hover & {
      background-color: $colorPrimary;
      transition: background-color 0.2s;

      &:before,
      &:after {
        background-color: $colorPrimary;
        transition: background-color 0.2s;
      }
    }
  }

  &--primary:hover > &__arrow {
    transform: translateX(em(270));
    transition: transform 0.5s ease-in;
  }

  &__horizontal {
    display: inline-block;
    position: relative;
    margin: 0 em(5);

    @include bp(tab-s-c) {
      display: block;
    }
  }

  &--link {
    text-transform: uppercase;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }
}
