//
// Main Layout
// --------------------------------------------------

* {
	box-sizing: inherit; // IE8 Compatabile (doesnt work with max-width,min width however careful)
	&:after,
	&:before {
		box-sizing: inherit;
	}
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $ffPrimary;
	@include font-size($fzBase);
	line-height: ($lhBase/$fzBase);
	color: $colorText;
	background-color: white;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;

	@include bp(tab-s) {
		@include font-size($fzMob);
	}
}

.container {
	position: relative;
	background-color: $colorBody;
	margin: 0 em(100);
	padding: em(100) 0 0 0;

	@include bp(tab-l) {
		margin: 0;
	}
}

// Links
// -------------------------

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}
