$module: 'link-arrow';

.#{$module} {

	$fontSize: 22;
	font-size: em($fontSize);
	position: relative;

	&__text {
		@extend .delta;
		padding-left: em(40,14);
		color: white;
	}

	&__arrow {
		font-size: em($fontSize);
		@include arrow($fontSize);
		position: absolute;
		transition: transform 0.2s ease-in;
		top: 50%;
		will-change: transform;
	}

	&:hover &__arrow {
		transform: translateX(em(90,$fontSize));
		transition: transform 0.5s ease-in-out;
	}
}