$module: 'nav-menu';

.#{$module} {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba($color4, 0.95);
	color: white;
	transform: translate(-100%, 0);
	transition: transform 0.5s ease-in-out;
	width: 100vw;
	height: 100vh;
	text-align: center;
	overflow: scroll;

	&.active {
		transform: translate(0, 0);
	}

	@include bp(tab-s-c) {
		padding: em(100) 0;
		display: block;
	}

	&__actions {
		text-transform: uppercase;
		display: none;

		@include bp(tab-s-c) {
			display: block;
		}
	}

	&__action {
		display: inline-block;
		@include linearLink();
		margin: 0 em(25);

		& > a {
			text-decoration: none;
		}
	}

	&__items {
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		@include bp(tab-s-c) {
			top: 0;
			transform: translateY(0);
		}
	}

	&__item {
		margin: 0 0 em(45) 0;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&__link {
		$fontSize: 50;
		font-size: em($fontSize);
		@include ffSecondary();
		text-transform: uppercase;
		text-decoration: none;
		position: relative;
		overflow: hidden;
		padding: 0 em(10);

		&:after {
			content: '';
			position: absolute;
			left: -10%;
			bottom: 0;
			z-index: -5;
			width: 120%;
			height: 50%;
			background-color: $color1;
			opacity: 0.2;
			transform: translateX(-100%);
			transition: transform 0.2s ease-in-out;
			will-change: transform;
		}

		&:hover {
			color: white;

			&:after {
				transform: translateX(0%);
				transition: transform 0.5s ease-in-out;
			}
		}
	}
}
