$module: 'nav';

.#{$module} {
	color: $colorPrimary;
	@include ffSecondary();

	&--header {
		@extend .#{$module};
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: em(100);
		z-index: 10;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		@include bp(tab-l) {
			height: em(100);
			bottom: none;
			width: 85%;
			flex-direction: row;
			min-height: 0;
			justify-content: flex-start;
		}
	}

	&__actions {
		display: flex;
		flex: 1 0 auto;
		align-items: flex-end;
		justify-content: center;
		max-width: em(100);

		@include bp(tab-l) {
			max-width: none;
			flex: 0 1 30%;
			justify-content: flex-start;
		}
	}

	&__items {
		transform: rotate(-90deg) translateX(50%);
		align-items: center;
		flex: 0 1 100%;
		display: flex;

		@include bp(tab-l) {
			transform: rotate(0deg) translate(0%);
			flex-wrap: wrap;
		}

		@include bp(tab-s-c) {
			display: none;
		}

	}

	&__item {
		$fontSize: 14;
		font-size: em($fontSize);
		@include ffSecondary();
		text-transform: uppercase;
		margin: 0 em(50,$fontSize);
		white-space: nowrap;
		display: block;

		& > a {
			text-decoration: none;
		} 

		@include bp(tab-l) {
			margin: em(5,$fontSize) em(15,$fontSize);
		}
	}

	&__logo {
		padding: 0 em(20) em(20) em(20);
		width: 100%;
		flex: 0 0 auto;

		@include bp(tab-l) {
			padding: em(10) 0 0 0;
			margin: auto;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: em(100);
			text-align: center;

			&-item {
				height: em(80);
			}
		}
	}

	&__link {
		@include linearLink($colorPrimary);
	}
}
