// weights
$fwBold: 700;
$fwSemibold: 600;
$fwRegular: 400;
$fwLight: 300;
$fwSuperlight: 200;

// family
$ffPrimary: 'Source Sans Pro', sans-serif;
$ffSecondary: 'Raleway', Arial, sans-serif;
$ffHeadings: $ffPrimary;

// style
$fzBase: 22 !default;
$fzMob: 18;
$lhBase: 22 !default;
$fwBase: $fwRegular;
$fwHeading: $fwBase;

// Colors
// -------------------------
$color1: #ea4b5a; // Snapper Red
$color2: #16345f; // Snapper Blue
$color3: #fbb52a; // Snapper Yellow
$color4: #fbb52a; // Snapper Yellow
$color5: #fbb52a; // Snapper Yellow

$color-primary: #ea4b5a;
$color-secondary: #16345f;
$color-tertiary: #fbb52a;

// Color roles
// ----------------
$colorPrimary: $color1;
$colorSecondary: $color2;
$colorBody: $color1 !default;
$colorText: white !default;

// States: ;
$colorActive: $color1;

// Headings
// -------------------------
$headings: '.alpha', '.beta', '.gamma', '.delta', '.epsilon', '.zeta';
$headingSizes: 100, 50, 22, 14, 32, 16;
$headingFamilies: $ffHeadings, $ffHeadings, $ffHeadings, $ffHeadings, $ffPrimary, $ffPrimary;
$headingColors: white, white, white, $color1, white, white;
$headingMargins: 100, 20, 30, 12, 30, 40;
$headingLineHeights: 100, 50, 22, 14, 32, 16;
$headingWeight: 700, 700, 700, 700, 400, 400;

// Layout
// -------------------------
$contentWidth: 1720;
$paddingBaseVertical: 8 !default;
$paddingBaseHorizontal: 12 !default;
$borderRadius: 5;
$triangleWidth: 10;

// Other
// -------------------------
$inOutBack: cubic-bezier(0.18, 0.89, 0.32, 1.28);

// Image path
$imgPath: '/img';