
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Raleway");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//// Utils
//@import 'utils/mixins';
//@import 'utils/media-queries';
//@import 'utils/reset';
//@import 'utils/helper';
//@import 'utils/placeholders';
//@import 'utils/selectize';
//@import 'utils/animations';
//
////Components
//@import 'components/global';
//@import 'components/svg';
//@import 'components/layout';
//@import 'components/header';
//@import 'components/footer';
//@import 'components/nav';
//@import 'components/nav-menu';
//@import 'components/typography';
//@import 'components/buttons';
//@import 'components/form';
//@import 'components/link-arrow';
//@import 'components/alert';
//
//// modules
//@import "modules/header";
//@import "modules/footer";
//@import "modules/main-content-wrapper";
//@import "modules/content-wrapper";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  padding-top: 20px;
  .btn{
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
}

.footer, .header{
  background-color: #f3f3f3;
  text-align: center;
  padding: 3rem;
  h2, h1{
    margin: 0;
  }
  &__logo{
    text-align: left;
  }
}