/************************************************
CONTENT WRAPPER
*************************************************/

.content-wrapper{
  padding: 5rem 2rem;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  opacity: 0;
  transition: 0s;
  &.loaded{
    transition: .3s;
    opacity: 1;
  }
}