/************************************************
FOOTER
*************************************************/

.site-footer{
  width: 100%;
  padding: 10rem 1rem;
  background-color: $color-primary;
  text-align: center;
  color: white;
  h3{
    font-weight: 700;
  }
}