/************************************************
HEADER
*************************************************/

.site-header{
  position: fixed;
  width: 100%;
  height: 7rem;
  padding: 1.5rem 2rem;
  background-color: $color-primary;
  text-align: center;
  color: white;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  &__title{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
  }
  &__menu{
    display: flex;
    align-items: center;
    &__item{
      &__link{
        padding: 1rem;
        font-weight: 700;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        &:hover{
          color: $color-tertiary;
        }
      }
    }
  }
}